
body{
    color:aliceblue;
    background: rgb(22, 10, 77);
}
header {
    border-bottom: solid 3px rgba(245, 231, 37, 0.925);
    padding: 10px;
    font-size: 35px;
    color: white;
    text-align: center;
    }
section {
    background: rgb(19, 182, 204);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}
.texto {
    margin-left: 20px;
    display:inline-flexbox;
    justify-content:center;
    text-align: justify;
   
}
.chamada-texto {
    margin-left: 20px;
    margin-top: 5px;
    display:inline-flexbox;
    justify-content:center;
    text-align: right;

}
.chamada-texo-dois {
    margin-left: 20px;
    margin-top: 5px;
    display:inline-flexbox;
    justify-content:center;
    text-align: right;

}