
body{
    color:aliceblue;
    background: rgb(23, 20, 26);
}
header {
    border-bottom: solid 2px rgba(188, 220, 247, 0.685);
    padding: 10px;
    font-size: 30px;
    color: white;
    }
section {
    background: rgb(19, 182, 204);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}
.texto {
    margin-left: 20px;
    display:inline-flexbox;
    justify-content:center;
    text-align: justify;
   
}